@page "/Bookmarks"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@using Microsoft.EntityFrameworkCore
@using System.Linq
@using CardVault.ModelsDTO
@using CardVault.Services

<head>
    <title>Bookmarks Page</title>
    <link rel="stylesheet" href="css/MGT01.css" />
</head>

<h3>Bookmarks</h3>

<div class="search-container">
    <input type="text" class="search-field" placeholder="Search" @bind="searchQuery" @bind:event="oninput" />
    <button type="button" class="search-btn" @onclick="FilterResults">
        <i class="fas fa-search"></i> Search
    </button>
</div>
