<h3>redcarddetail</h3>

@inject CardVault.Services.Services services
@using CardVault.ModelsDTO
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage

<head>
    <title>Single Detail</title>
    <link rel="stylesheet" href="css/MGT01.css" />
</head>

@code {

}
